$fontsize_basic: 40px;
$bgc: beige;
$fontcolor: #333;
$margin : 10px auto;
$title: (
    "h1" : 59px,
    "h2" : 30px
);

$null : null;
$ff: 'Times New Roman', Times, serif;


body{
    font-size: $fontsize_basic;
    background-color: $bgc;
    color: $fontcolor;
    line-height: 10px;
    font-family:$ff;
    padding: 10px;
}
.wrapper{
    width: 1200px;
    font-size: 18px;
    font-weight: bold;
    margin: $margin;
    height: $null;
}

h1{
    font-size: map-get($title,h1);
}



// 區域變數
$a :10px;

span{
    $a:20px;
    font-size: $a;
    $b: 40px !global;
}
.box{
    font-size: $b;
}

$c:30px;
$c:40px !default;

.box1{
    font-size: $c;
}